<article class="left a">
	<a href="/"><div class="left_icon"><div class="icon_button t"><div style="top:28px; position:relative; font-size:24px; color:#EEE;">News</div></div></div></a>
    <a href="/board/"><div class="left_icon"><div class="icon_button t"><div style="top:28px; position:relative; font-size:24px; color:#EEE;">Board</div></div></div></a>
    <!--a href="bb.php"><div class="left_icon"><div class="icon_button"><span class="letter">P</span></div></div></a>
    <a href="globe.php"><div class="left_icon"><div class="icon_button"><span class="letter">G</span></div></div></a>
        <a href="table.php"><div class="left_icon"><div class="icon_button"><span class="letter">F</span></div></div></a>
    <a href="table.php"><div class="left_icon"><div class="icon_button"><div class="icon_database"></div></div></div></a>
    <a href="table.php"><div class="left_icon"><div class="icon_button"><span class="letter">+</span></div></div></a>-->
</article>