@charset "UTF-8";


.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-key-2:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */